body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  color: #333333;
  width: auto;
  padding: 0;
  margin: 0;
}
.shadow {
  width: 1200px;
}
h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
h5 {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.main-header {
  min-height: 56px;
  background: yellow;
}
/*.main-menu ul .left {
  float: left;
  width: 20%;
  height: 56px;
  text-align: left;
  background-color: white;
  list-style-type: none;
}
.main-menu ul .right {
  float: right;
  width: 20%;
  height: 56px;
  text-align: right;
  background-color: white;
  list-style-type: none;
}
.main-menu ul a {
  text-decoration: none;
}*/
.main-logo {
  width: 256px;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  /*непонятные значения*/
}
/*main!!!!!!!!!!*/
.bckground-photo {

}
.background-text {
  width: 458px;
  height: 352px;
  background: yellow;
}
.main-text {
  min-height: 209px;
  text-align: center;
  background-color: white;
}
.container {
  text-align: center;
}
.container .one .fact-blue {
  float: left;
  width: 400px;
  min-height: 256px;
}
.container .one .photo-one {
  float: right;
  width: 800px;
}
.container .one::after {
  clear: both;
  display: table;
  content="";
}
.advice-part {
  float: left;
  width: 400px;
  min-height: 330px;
}
.advice-part::after {
  clear: both;
  display: table;
  content="";
}
.container .two {
  background: yellow;
}
.container .two .photo-two {
  float: left;
  width: 800px;
}
.container .two .fact-blue {
  float: right;
  width: 400px;
  min-height: 256px;
}
.container .two::after {
  clear: both;
  display: table;
  content="";
}
.container .fact-gray {
  float: left;
  width: 400px;
  min-height: 256px;
  background: yellow;
}
