@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-style: normal;

  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 21px;
  color: #333333;
  /*background: #f2f2f2;*/
  /*min-width: 1200px;*/
  margin: 0;
  padding: 0;
}
.field {
  display: block;
  width: 100%;
  padding: 4px 13px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(0, 1, 1, 0.2) 0px 0px 20px 2px;
  /*background: #ffffff;*/
}
/*h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
h5 {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-menu {
  margin: 0;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  background: #ffffff;
}
.main-menu li {
  width: 240px;
  padding: 15px 0;
	font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.main-menu a {
  text-decoration: none;
  color: #000000;
}
.main-menu-left {
  float: left;
  text-align: center;
}
.main-menu-right {
  float: right;
  text-align: center;
}
.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-logo img {
  display: block;
  margin: auto;
}


/*.main-logo a {
  width: 240px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -68px;
  z-index: 2;
}*/


/*main!!!!!!!!!!*/
.background {
  padding-top: 76px;
  background: url("../img/background-photo.jpg") 50% -83px no-repeat;
}
.background-text {
  display: block;
  margin: 0 auto 80px;
}
.background-body {
  position: relative;
  padding-top: 60px;
  padding-bottom: 51px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}
.background-body::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../img/background-pattern.png") 50% 0 no-repeat;
}
.background-title {
  margin: 0 0 27px;
  font-size: 21px;
  font-weightP: 700;
}
.fact {
  position: relative;
  padding-right: 800px;
  color: #ffffff;
  background-color: #81b3d2;
}
.fact-body {
  padding: 54px 40px 52px;
  /*почему не 59???*/
  text-align: center;
  box-sizing: border-box;
}
.fact-body h3 {
  margin: 0 0 24px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}
.fact-body p {
  margin: 0 0 21px;
}
.fact-body p:last-child {
  margin: 0;
}
.fact-number {
  position: relative;
  display: inline-block;
}
.fact-number::before,
.fact-number::after {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -1px;
  width: 9px;
  border-bottom: 2px solid;
  content: "";
}
.fact-number::before {
  left: -14px;
}
.fact-number::after {
  right: -14px;
}
.fact-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 100%;
  overflow: hidden;
}
.fact-image img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}

.advice-part {
  float: left;
  width: 400px;
  text-align: center;
  padding: 56px 30px 83px;
  box-sizing: border-box;
}
.advice-part img {
  margin-bottom: 29px;
}
.advice-part h3 {
  margin: 0 0 23px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}
.advice-part p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.fact.right {
  padding-left: 800px;
  padding-right: 0;
}
.fact.right .fact-image {
  left: 0;
  right: auto;
}
.facts-part {
  float: left;
  width: 400px;
  text-align: center;
  padding: 47px 40px 59px;
  background: #eeeeee;
  box-sizing: border-box;
}
.facts-part h3 {
  font-size: 21px;
  margin: 0 0 24px;
}
.facts-part p {
  margin: 0 0 21px;
}
.facts-part p:last-child {
  margin: 0;
}
.text-before-search {
  padding: 56px 0 133px;
  text-align: center;
  line-height: 24px;
}
.text-before-search span {
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
}
.hotel-search {
  position: relative;
  /*padding: 30px auto;*/
}
.hotel-search-btn {
  position: absolute;
  top: -86px;
  left: 0;
  right: 0;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  border: 0px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
}
.hotel-search-field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 568px;
  height: 395px;
  margin: 0 auto 29px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.hotel-search-field fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.hotel-search-field label {
  position: relative;
  display: inline-block;
  margin-bottom: 29px;
}
.hotel-search-field .label-class {
  float: left;
  display: block;
  width: 112px;
  line-height: 26px;
  padding: 6px 0;
}
.hotel-search-field .field {
  float: right;
  width: 346px;
}
.hotel-search-field .icon-calendar {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
}
.label-class .quantity-choose .field {
  padding: 0 38px;
  /*display: block;
  width: 114px;*/
}
.label-class .quantity-choose {
  position: relative;
  float: right;
  width: 114px;
}
.label-class .quantity-choose .icon-plus {
  position: absolute;
  top: 50%;
  left: 0;
  width: 38px;
  transform: translateY(-50%);
}
.label-class .quantity-choose .icon-minus {
  position: absolute;
  top: 50%;
  right: 0;
  width: 38px;
  transform: translateY(-50%);

}





/*hotels!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.filter {
  position: relative;
}
.filter-pick {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  padding-top: 14px;
  background: url("../img/filter-background.jpg") no-repeat;
  /*transform: translateY(-50%);*/
}
/*.filter-pick {
  position: relative;
}*/
.infra-check {
  float: left;
  width: 220px;
  margin-left: 68px;
  margin-right: 35px;
  border: 0px;
}
.infra-check label {
  display: block;
}
.housing-check {
  float: left;
  width: 220px;
  margin-right: 15px;
  border: 0px;
}
.housing-check label {
  display: block;
}
.filter-range {
  float: left;
  border: 0px;
}
.hotel-review {
  padding: 30px 72px;
}
.hotel-review img {
  float: left;
  margin-right: 30px;
}
.hotel-header h2 {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
}
.icon-star {
  font-size: 21px;
  color: #81b3d2;
}
.hotel-info p {
  display: inline-block;
}
.hotel-control {
  font-size: 14px;
  text-transform: uppercase;
}
.hotel-control .more {
  display: inline-block;
  width: 110px;
  height: 27px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 6px;
  color: #fefefe;
  background-color: #81b3d2;
}
.hotel-control .book {
  display: inline-block;
  width: 142px;
  height: 27px;
  font-weight: 700;
  text-decoration: none;
  color: #fefefe;
  background-color: #766357;
}
.hotel-control .rating {
  display: inline-block;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
}
/*конец hotels!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-footer {
  padding: 36px 0;
  text-align: center;
  font-size: 19px;
  line-height: 26px;
  background: rgba(255, 255, 255, 0.9);
}
.main-footer .footer-container {
  font-size: 0;
}
.footer-hashtag {
  display: inline-block;
  font-size: 21px;
  width: 400px;
  font-weight: 700;
  vertical-align: middle;
}
.footer-hashtag a {
  text-decoration: none;
}
.footer-social {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}
.icon-social {
  display: inline-block;
  width: 46px;
  font-size: 22px;
  line-height: 48px;
  margin-left: 6px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
}
.icon-social [class^="icon-"],
.icon-social [class*=" icon-"] {
  width: 1em;
  height: 1em;
}
.footer-copyright {
  display: inline-block;
  width: 400px;
  font-size: 14px;
  vertical-align: middle;
}
.footer-copyright span {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.footer-copyright .logo {
  display: inline-block;
  vertical-align: middle;
}
.footer-copyright img {
  display: inline-block;
  vertical-align: middle;
}
